.light-theme {
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.light-theme button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.dark-theme {
    background-color: #000000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark-theme button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}